body {
  background: #191815;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

* {
  color: #0dbc00aa;
}

.rainfall {
  background-color: transparent;
  background-image: url("/raindrops-animate.svg");
}
